
body {
    background-image: url(../img/img-fondo.png);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el div */
}