/* Inicio */

.main .inicio {
  .intro-inicio {
    align-items: center;
    padding: 45px;
  }
  .img-inicio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .img-inicio {
      width: 80vw;
      max-width: 300px;
    }
  }
}

@media (min-width: 990px) {
  .main .inicio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .intro-inicio {
      display: flex;
      width: 46vw;
      padding: 15px;
      flex-direction: column;
    }
    .img-inicio-container {
      .img-inicio {
        width: 32vw;
        min-width: 310px;
      }
    }
  }
}
