/*  Sobre mi  */

.main {
  .sobreMi {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    .container-apartadoPersonal {
      background-color: $color3;
      border: 2px solid #333;
      border-radius: 10px;
      width: 85vw;
      margin: 30px;
      padding: 30px;
      text-align: center;
      .text-img-personal {
        display: flex;
        flex-direction: column;
        .text-sobreMi {
          padding: 25px;
          display: flex;
          flex-direction: column;
          text-align: left;
        }
        .img-sobreMi {
          width: 45vw;
          min-width: 16rem;
          padding: 25px;
          margin: auto;
        }
      }
    }
  }
}

@media (min-width: 950px) {
  .main {
    .sobreMi {
      .container-apartadoPersonal {
        width: 75vw;
        .text-img-personal {
          flex-direction: row;
          .img-sobreMi {
            width: 30vw;
            min-width: 22rem;
          }
        }
      }
    }
  }
}
