
/*  Sobre mi  */

.main .sobreMi{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-apartadoPersonal{
    border: 2px solid #333;
    border-radius: 10px;
    width: 85vw;
    margin: 30px;
    padding: 30px;
    text-align: center;
}

.text-img-personal{
    display: flex;
    flex-direction: column;
}

.text-sobreMi{
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.img-sobreMi{
    width: 65vw;
    padding: 25px;
    margin: auto;
}
@media(min-width:575px){
    .img-sobreMi{
        width: 30vw;
        padding: 25px;
        margin: auto;
    }
}
